%article
  %h2
    = link_to article.title, article

  %h6
    = article.date.strftime("%b %e, %Y")

  .row
    .large-12.columns
      .article-body
        - if digest
          = article.summary
        - else
          = article.body

        - if digest and article.summary.length < article.body.length
          .readmore
            = link_to article.url, class: "right" do # , class: "button secondary radius tiny"
              Read More
              %i.icon-share-alt
